<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <javaee:display-name>Archetype Created Web Application</javaee:display-name>

  <servlet>
      <init-param>
        <param-name>TARGET_URL</param-name>
        <param-value>http://www.aftonbladet.se</param-value>
      </init-param>
    <javaee:description></javaee:description>
    <javaee:display-name>ReverseProxy</javaee:display-name>
    <servlet-name>ReverseProxy</servlet-name>
    <servlet-class>com.j2trp.core.ReverseProxy</servlet-class>
    
  </servlet>
  <servlet-mapping>
    <servlet-name>ReverseProxy</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>